/* Vamos personalizar ainda mais o estilo da página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #111; /* Fundo escuro */
    color: white;
}

.hero {
    text-align: center;
    height: 100vh; /* Ajustar a altura para ocupar a tela inteira */
    background: url(../images/bg.gif);
    background-size: cover; /* Melhorar a manipulação da imagem de fundo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 3rem; /* Aumentar o tamanho da fonte do título */
}

h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem; /* Aumentar o tamanho da fonte do subtítulo */
}

.button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF; /* Cor de destaque para os botões */
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Efeito de transição suave */

}

.button:hover {
    background-color: #0056b3; /* Mudança de cor ao passar o mouse */
}

/* Estilizar os links de botões */
a.button {
    text-decoration: none;
    color: white;
}

.services {
    background-color: #161616; /* Cor inspirada no site Unreal Engine */
    padding: 60px; /* Espaçamento maior para maior destaque */
    color: white;
    text-align: center;
}

.services h2 {
    font-size: 2.5rem; /* Tamanho de fonte maior para destaque */
}

.services p {
    font-size: 1.5rem; /* Tamanho de fonte maior para legibilidade */
    margin: 20px 0; /* Espaçamento maior entre parágrafos */
}

.services ul {
    list-style: none;
    padding: 0;
    font-size: 1.5rem;
    text-align: left;
}

.services li {
    margin: 10px 0; /* Espaçamento maior entre itens da lista */
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.credits {
    height: 1px;
    font-size: 10px;
}

.headerimg {
    image-rendering: -webkit-optimize-contrast; /* Safari/Chrome */
    image-rendering: -moz-crisp-edges; /* Firefox */
    transform: scale(0.9);
}

.menu {
    display: block;
    height: 35px;
    text-align: center;
}